<app-layout>
  <div id="nbfc-list-page">
    <div class="main-wrapper">
      <div class="transheader">
        <h2>Manage NBFC</h2>
        <span class="spacer"></span>
        <button mat-flat-button class="btn-cust" (click)="manageNBFC('')">
          ADD NBFC
        </button>
      </div>
      <div>
        <button
          mat-icon-button
          (click)="
            exporter.exportTable('xlsx', {
              fileName: 'NBFCList',
              sheet: 'NBFC_List',
              Props: { Author: 'Xuriti' }
            })
          "
          matTooltip="Export Excel"
          matTooltipPosition="below"
          class="exel-icon"
          aria-label="Example icon button with a menu icon"
        >
          <mat-icon>assignment_returned</mat-icon>
        </button>
        <mat-form-field appearance="outline">
          <mat-label>NBFC Name</mat-label>
          <input
            matInput
            [formControl]="nbfcSelect"
            (input)="onEnterValue($event)"
            placeholder="NBFC Name"
          />
          <button
            type="button"
            mat-button
            (click)="nbfc_name_clear(nbfcSelect)"
            matSuffix
            mat-icon-button
            aria-label="Clear"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Select Status</mat-label>
          <mat-select (selectionChange)="onSelect($event)">
            <mat-option value="">Select Status</mat-option>
            <mat-option value="Active">Active</mat-option>
            <mat-option value="Pending">Pending</mat-option>
            <mat-option value="Inactive">Inactive</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="mat-elevation-z2">
        <table
          mat-table
          matTableExporter
          [hiddenColumns]="[5]"
          #exporter="matTableExporter"
          [dataSource]="dataSource"
          matSort
          (matSortChange)="announceSortChange($event)"
        >
          <!-- NBFC Name Column -->
          <ng-container matColumnDef="ndbfc_name">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              sortActionDescription="Sort by nbfc_name"
            >
              NBFC Name
            </th>
            <td mat-cell *matCellDef="let element">
              <b>
              {{ element && element.nbfc_name ? element.nbfc_name : ""}}
              </b>
            </td>
          </ng-container>
          <!-- Address Column -->
          <ng-container matColumnDef="nbfc_address">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              sortActionDescription="Sort by nbfc_address"
            >
              Address
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.nbfc_address }}
            </td>
          </ng-container>
          <!-- Email Column -->
          <ng-container matColumnDef="nbfc_email">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              sortActionDescription="Sort by nbfc_email"
            >
              Email
            </th>
            <td mat-cell *matCellDef="let element">{{ element.nbfc_email }}</td>
          </ng-container>
          <!-- Status Column -->
          <ng-container matColumnDef="nbfc_status">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              sortActionDescription="Sort by nbfc_status"
            >
              Status
            </th>
            <td mat-cell *matCellDef="let element">
              <b>
              {{ element && element.nbfc_status ? element.nbfc_status : ""}} 
              </b>
            </td>
          </ng-container>
          
          <!-- Registered At Column -->
          <ng-container matColumnDef="createdAt">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              sortActionDescription="Sort by createdAt"
            >
              Registered At
            </th>
            <td mat-cell *matCellDef="let element">
              {{ (element && element.createdAt ? element.createdAt : "") | date: date_format }}
            </td>
          </ng-container>

          <!-- Action Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef class="actioncol">Action</th>
            <td mat-cell *matCellDef="let element" class="text-right">
              <button
                mat-mini-fab
                class="btn-view"
                matTooltip="Edit NBFC"
                (click)="manageNBFC(element._id)"
                aria-label="Example icon button with a delete icon"
              >
                <mat-icon>edit</mat-icon>
              </button>

              <button
                mat-mini-fab
                class="btn-view"
                matTooltip="NBFC Buyer Mapping"
                (click)="openMappingPage(element._id)"
                aria-label="Example icon button with a delete icon"
              >
                <mat-icon>merge_type</mat-icon>
              </button>

              <button
                mat-mini-fab
                class="btn-view"
                matTooltip="Reconciliation"
                (click)="openReconciliationPage(element._id)"
                aria-label="Example icon button with a delete icon"
              >
                <mat-icon>insert_drive_file</mat-icon>
              </button>

              <!-- <button
                mat-mini-fab
                class="btn-view"
                matTooltip="Delete NBFC"
                aria-label="Example icon button with a delete icon"
              >
                <mat-icon>delete</mat-icon>
              </button> -->
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <mat-paginator
          [pageSizeOptions]="[10, 15, 20]"
          showFirstLastButtons
          aria-label="Select page of periodic elements"
        >
        </mat-paginator>
      </div>
    </div>
  </div>
</app-layout>
