<div id="verify-user-page">
  <div class="main-wrapper">
    <mat-card layout="row" layout-align="center center">
      <div class="mat-header">
        <img
          src="../../../../../assets/images/xuritilogo.png"
          alt="Xuriti Logo"
          class="img-fluid logo"
        />
        <h1>VERIFY USER</h1>
      </div>
      <form
        class="example-form"
        [formGroup]="verification_form"
        (ngSubmit)="onSubmit()"
      >
        <mat-card-content>
          <div class="input-wrapper">
            <mat-form-field appearance="outline">
              <mat-label>Enter OTP</mat-label>
              <input
                matInput
                formControlName="otp"
                pattern="^((\\+91-?)|0)?[0-9]{4}$"
                required
              />
              <mat-error style="color: rgb(241, 14, 14)" i18n="@@LOG7">
                Please enter four digit OTP
              </mat-error>
            </mat-form-field>
          </div>

          <div class="input-wrapper">
            <mat-form-field appearance="outline">
              <mat-label>Enter Password</mat-label>
              <input
                matInput
                [type]="pwdVisibleA ? 'text' : 'password'"
                formControlName="password"
                pattern="^(?=.{8,})(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&+=]).*$"
                required
              />
              <mat-icon matSuffix (click)="pwdVisibleA = !pwdVisibleA">{{
                pwdVisibleA ? "visibility_off" : "visibility"
              }}</mat-icon>
              <mat-error style="color: rgb(241, 14, 14)" i18n="@@LOG7">
                Password must contain at least one capital letter, one small
                letter and one number and any special character like @$_# etc
              </mat-error>
            </mat-form-field>
          </div>

          <div class="input-wrapper">
            <mat-form-field appearance="outline">
              <mat-label>Confirm Password</mat-label>
              <input
                matInput
                [type]="pwdVisibleA ? 'text' : 'password'"
                formControlName="confirmPassword"
                pattern="^(?=.{8,})(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&+=]).*$"
                required
              />
              <mat-icon matSuffix (click)="pwdVisibleB = !pwdVisibleB">{{
                pwdVisibleB ? "visibility_off" : "visibility"
              }}</mat-icon>
              <mat-error style="color: rgb(241, 14, 14)" i18n="@@LOG7">
                Password must contain at least one capital letter, one small
                letter and one number and any special character like @$_# etc
              </mat-error>
            </mat-form-field>
          </div>
          <div class="input-wrapper text-center">
            <p class="para">
              Return to
              <a class="forgot-password" [routerLink]="['/admin/auth/login']">
                Login
              </a>
            </p>
          </div>

          <div class="input-wrapper text-center">
            <button mat-flat-button class="btn-dark" type="submit">
              CONFIRM
            </button>
          </div>
        </mat-card-content>
      </form>
    </mat-card>
  </div>
</div>

<!-- pattern="^(?=.{8,})(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&+=]).*$"  -->
