<app-layout>
  <div id="stafflist-page">
    <div class="main-wrapper">
      <h2>Manage Staff</h2>

      <mat-form-field appearance="outline">
        <mat-label>Search User by Name</mat-label>
        <input
          matInput
          (keyup)="applyFilter($event)"
          placeholder="Ex. ium"
          #input
          matInput
          placeholder="Search User by Name"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>User Status</mat-label>
        <mat-select (selectionChange)="staffStatus($event.value)">
          <mat-option selected value=""> Select Staff Status </mat-option>
          <mat-option value="Inactive"> Inactive </mat-option>
          <mat-option value="Active"> Active </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Staff Type</mat-label>
        <mat-select (selectionChange)="StaffType($event.value)">
          <mat-option selected value=""> Select Staff Type </mat-option>
          <mat-option value="xuritiAdmin"> Xuriti Admin </mat-option>
          <mat-option value="xuritiStaff"> Xuriti Staff </mat-option>
          <mat-option value="xuritiCreditMgr">Xuriti Credit Manager </mat-option>
          <mat-option value="xuritiCollectionMgr">Xuriti Collection Manager</mat-option>
          <mat-option value="xuritiCollectionStaff">Xuriti Collection Staff </mat-option>
          <mat-option value="xuritiCollectionAgent"> Xuriti Collection Agent </mat-option>
          <mat-option value="xuritiSalesAgent">Xuriti Sales Staff</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Registration Date</mat-label>
        <input
          matInput
          [matDatepicker]="datepicker"
          [max]="maxDate"
          [(ngModel)]="registrationDate"
          readonly
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="datepicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #datepicker>
          <mat-datepicker-actions>
            <button mat-button matDatepickerCancel>Cancel</button>
            <button
              mat-raised-button
              color="primary"
              matDatepickerApply
              (click)="registrationDateFilter()"
            >
              Apply
            </button>
          </mat-datepicker-actions>
        </mat-datepicker>
      </mat-form-field>

      <button mat-flat-button (click)="openDialog2('')" class="btn-upload">
        ADD STAFF
      </button>

      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        (matSortChange)="announceSortChange($event)"
        class="mat-elevation-z2"
      >
        <!-- Username Column -->
        <ng-container matColumnDef="username">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            sortActionDescription="Sort by username"
          >
            Name
          </th>
          <td mat-cell *matCellDef="let element">
             <b>
              {{ element && element.first_name ? element.first_name : "" }}
              {{ element && element.last_name ? element.last_name : "" }}
             </b>
          </td>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="email">
          <th
            mat-header-cell
            mat-sort-header
            sortActionDescription="Sort by email"
            *matHeaderCellDef
          >
            Email Address
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element && element.email ? element.email : "" }}
          </td>
        </ng-container>

        <!-- Mobile Column -->
        <ng-container matColumnDef="mobile_number">
          <th
            mat-header-cell
            mat-sort-header
            sortActionDescription="Sort by mobile_number"
            *matHeaderCellDef
          >
            Mobile
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element && element.mobile_number ? element.mobile_number : "" }}
          </td>
        </ng-container>

        <!-- usertype Column -->
        <ng-container matColumnDef="usertype">
          <th
            mat-header-cell
            mat-sort-header
            sortActionDescription="Sort by user_role"
            *matHeaderCellDef
          >
            Staff Type
          </th>
          <td mat-cell *matCellDef="let element">
            {{
              getstaffRole(element && element.user_role)
                ? getstaffRole(element.user_role)
                : ""
            }}
          </td>
        </ng-container>

        <!-- date Column -->
        <ng-container matColumnDef="createdAt">
          <th
            mat-header-cell
            mat-sort-header
            sortActionDescription="Sort by createdAt"
            *matHeaderCellDef
          >
            Registration Date
          </th>
          <td mat-cell *matCellDef="let element">
            {{
              (element && element.createdAt ? element.createdAt : "")
                | date: Date_Format
            }}
          </td>
        </ng-container>

        <!-- registeredby Column -->
        <ng-container matColumnDef="registeredby">
          <th
            mat-header-cell
            mat-sort-header
            sortActionDescription="Sort by registeredby"
            *matHeaderCellDef
          >
            Registered by
          </th>
          <td mat-cell *matCellDef="let element">
            {{
              element && element.registeredBy && element.registeredBy.first_name
                ? element.registeredBy.first_name
                : ""
            }}
            {{
              element && element.registeredBy && element.registeredBy.last_name
                ? element.registeredBy.last_name
                : ""
            }}
          </td>
        </ng-container>

        <!-- status Column -->
        <ng-container matColumnDef="status">
          <th
            mat-header-cell
            mat-sort-header
            sortActionDescription="Sort by status"
            *matHeaderCellDef
          >
            Status
          </th>
          <td mat-cell *matCellDef="let element">
           <b>
            {{ element && element.status ? element.status : "" }}
           </b>
          </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="actioncol">Action</th>
          <td mat-cell *matCellDef="let row" style="text-align: center">
            <button
              mat-mini-fab
              class="btn-view"
              matTooltip="Edit Staff"
              (click)="openDialog2(row._id)"
              aria-label="Example icon button with a delete icon"
            >
              <mat-icon>edit</mat-icon>
            </button>

            <button
              mat-mini-fab
              class="btn-view"
              matTooltip="Resend Invite"
              (click)="resendInvite(row)"
              [disabled]="row.status == 'Active' || row.status == 'active'"
              aria-label="Example icon button with a delete icon"
            >
              <mat-icon>restore</mat-icon>
            </button>

            <button
              type="button"
              mat-mini-fab
              class="btn-view"
              matTooltip="Mapping"
              [disabled]="row.status == 'Inactive' || row.status == 'inactive'"
              aria-label="Example icon button with a delete icon"
              (click)="company_Mapping(row._id)"
            >
              <mat-icon>merge_type</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="text-center">No Staff Found</td>
        </tr>
      </table>
      <mat-paginator
        [pageSizeOptions]="[10, 25, 50]"
        showFirstLastButtons
        aria-label="Select page of periodic elements"
      >
      </mat-paginator>
    </div>
  </div>
</app-layout>
