#emandateshistory-page {
    .main-wrapper {
      padding: 15px;
    }
    table {
      width: 100%;
    }
    .mat-header-cell {
      font-size: 14px;
  
      background: black;
      color: white;
    }
    .mat-form-field {
      margin-right: 15px;
    }
    .actioncol {
      text-align: center;
    }
    .btn-export {
      background: #f79e1b;
      color: white;
      margin-right: 5px;
      vertical-align: super;
    }
    .btn-view {
      background: black;
      color: white;
      margin-left: 5px;
      margin-right: 5px;
      box-shadow: none;
    }
    .btn-approve {
      background: green;
      color: white;
      margin-left: 5px;
      margin-right: 5px;
      box-shadow: none;
    }
    .btn-delete {
      background: red;
      color: white;
      margin-left: 5px;
      margin-right: 5px;
      box-shadow: none;
    }
    .btn-upload {
      background: #f79e1b;
      color: white;
      margin-left: 5px;
      margin-right: 5px;
      box-shadow: none;
      padding: 5px 31px;
      vertical-align: 2px;
      font-size: 18px;
      border-radius: 7px;
    }
    .text-right {
      text-align: right;
    }
  }
  
  #emandateshistory-dialog {
    mat-dialog-content {
      width: 500px;
    }
  
    h1 {
      margin: 0 0 15px;
    }
    .text-center {
      text-align: center;
    }
  
    .example-form {
      min-width: 150px;
      max-width: 500px;
      width: 100%;
    }
    .example-full-width {
      width: 100%;
    }
  
    .btn-dark {
      background: black;
      color: white;
    }
  
    @media only screen and (max-width: 767px) {
      mat-dialog-content {
        width: auto;
      }
    }
  }
  
  #add-edit-staff-dialog {
    .flex {
      display: flex;
    }
  
    h1 {
      margin: 0 0 0px;
    }
    .text-center {
      text-align: center;
    }
  
    .example-form {
      min-width: 150px;
      max-width: 500px;
      width: 100%;
      margin-top: 1rem;
    }
    .example-full-width {
      width: 100%;
      margin-left: 5px;
      margin-right: 5px;
    }
  
    .btn-dark {
      background: black;
      color: white;
    }
  
    @media only screen and (max-width: 767px) {
      .flex {
        display: block;
      }
    }

  }
  
::ng-deep .mat-dialog-container {


  width: 35rem;
  height: 35rem;

  background-color: rgb(239, 239, 239);
  color: black;
  font: Roboto, "Helvetica Neue", sans-serif;
}
h1{
  position:relative;
  left:100px;
}
// .centerItems{
//   text-align:center;
//   align-items: center;
// }



.content{
  margin:0px;
  padding:0px;
}
.contentKey{
  display:inline-block;
  margin:0px;
  padding-left:0px;
}

.contentValues{
  display:inline-block;
  margin-left:0px;
  padding-left:0px;
}


// h3{s
//   display:inline-block;
// }


h2{
  display:inline-block;
}
  
// img{
//   width:200px;
// }

.carousel-container{
  position:relative;
  margin: auto ;
  text-align: center;
  width:400px;
  height:200px;
  border-radius:10px;
  box-shadow:0 6px 12px #dce1e1;
}

.carousel-container img{
  display: none;
  border-radius:10px;
  width:400px;
  height:200px;

}

.carousel-container .image-active{
  display:block;
  width:400px;
  height:200px;

}

.carousel-dot-container{
  position:relative;
  right :0px;
  left:9px;
  bottom:25px;
  justify-content:center;
  padding:0;
  margin-bottom: 1rem;
}

.dot{
  cursor:pointer;
  height:13px;
  width:13px;
  margin : 0 5px auto;
  background-color: rgb(201, 201, 201);
  border-radius:50%;
  display: inline-block;
  transition :  opacity 0.6s ease;
  opacity: 0.5;
  // visibility:hidden;
}

img:focus{
  .dot{
    visibility:visible;
  }
}

mat-icon{
  position:relative;
  left:29rem;
  bottom:3.5rem;
  font-size: 45px;
}

.active,
  .dot:hover
{
  opacity: 1;
}

.header{
  position:relative;
  left:80px;
}
button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(29, 27, 27);
  color:#dce1e1;
  transition: 1s;
}
a{
  text-decoration: none;
  font:bold;
}
button:hover{
  background-color:#dce1e1 ;
  color:rgb(29, 27, 27);
  transition: 1s;
}